<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
  </div>

  <div class="form-group">
    <label for="markdown">Content</label>
    <textarea required name="content" id="content" class="form-control"><%= article.content %></textarea>
  </div>

  
  <a href="/forums" class="btn btn-secondary">Cancel</a>
  <button type="submit" class="btn btn-primary">Save</button>