
<%if(following.length>0){%>
    <%    following.forEach((followingUser)=>{%>
        <div style="width: 200px; height: 250px;background-color: burlywood;">

              



    <p><%= followingUser %></p>
    
</div>
<%    })%>
<%}%>