<h1 class="mt-4">Forums</h1>
<% if(user) { %>
    <p class="lead mb-3">Welcome to Forum, <%= user.firstName + " " + user.lastName%>!</p>

    <%}%>
        <a href="/sellers/dashboard" class="btn btn-secondary">Seller</a>
        <% if(user) { %>
            <a href="/users/logout" class="btn btn-secondary">Logout</a>
            <% }else{ %>
                <a href="/users/login" class="btn btn-secondary">Login</a>
                <a href="/users/register" class="btn btn-secondary">Register</a>
                <% } %>