<h1>Upload</h1>
<form action="/testupload" method="POST" enctype="multipart/form-data">
    <div class="custom-file mb-3">
        <label for="file" class="custom-file-label"> Choose File1:</label>
        <input type="file" name="coverImg" id="file" class="custom-file-input">
    </div>

    <div class="custom-file mb-3">
        <label for="img1" class="custom-file-label"> Choose File2:</label>
        <input type="file" name="img1" id="file" class="custom-file-input">
    </div>

    <div class="custom-file mb-3">
        <label for="img2" class="custom-file-label"> Choose File3:</label>
        <input type="file" name="img2" id="file" class="custom-file-input">
    </div>

    <div class="custom-file mb-3">
        <label for="img3" class="custom-file-label"> Choose File4:</label>
        <input type="file" name="img3" id="file" class="custom-file-input">
    </div>
    <input type="submit" value="Submit" class="btn btn-primary btn-block">
</form>
<hr>
